extends layout

block content
	.container.full
		input#pac-input.form-control.input-search(type="text", placeholder="Ex.: Av Paulista, São Paulo, Brasil")
		.canvas
			.loader Loading...

	.container.list-events
		.row
			.col-lg-12
				h2 Title
				p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
				p.btn-actions
					a.btn.btn-info(role="button", href="#")
						span.glyphicon.glyphicon-star-empty

					a.btn.btn-info(role="button", href="#")
						span.glyphicon.glyphicon-flag
